.dropdown-item:hover{
    background-color: #ada72b !important;
}

.card-title, .card-text{
    text-align: center !important;
}
.card-body a{
    width: 100% !important;
}
.footer{
    height: 30px;
}
.footer_text{
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0 !important;
}
header{
    background: #ada72b;
}
.card-link{
    font-size: 40px !important;
    color: #000000 !important;
    text-align: center !important;
    width: 100% !important;
}
.linked{
    transition: font-size 0.5s;
}
.github{
    transition: font-size 0.5s;
}
.linked:hover{
    color: #0073b0 !important;
    font-size: 44px !important;
}

.github:hover{
    color: #33006e !important;
    font-size: 44px !important;
}